tf_state_bucket  = "your-tf-state-bucket"
tf_state_key     = "opentofu/platform_layer/dev"
tf_state_region  = "us-east-1"
tf_state_encrypt = true

aws_region     = "us-east-1"
gcp_project_id = "example-project-id"
gcp_region     = "us-central1"
